/* body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    background: steelblue;
    line-height: 1.1;
    padding: 20px 0;
    font-weight: normal;
    margin: 0;
}

#colorDisplay {
    font-size: 200%;
}

#message {
    display: inline-block;
    width: 20%;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}

button {
    border: none;
    text-transform: uppercase;
    background: none;
    color: steelblue;
    font-weight: 700;
    font-size: inherit;
    outline: none;
    letter-spacing: 1px;
    transition: all 0.3s;
    height: 100%;
}

button:hover {
    color: white;
    background: steelblue;
}

.selected {
    background: steelblue;
    color: white;
} */

body {
    background-color: #232323;
    margin: 0;
}

h1 {
    color: white;
    text-align: center;
    background: steelblue;
    margin: 0;
    padding: 20px 0;
    font-weight: normal;
    text-transform: uppercase;
}

#colorDisplay {
    font-size: 200%;
}

#stripe {
    background: white;
    text-align: center;
    height: 30px;
    color: black;
}

button {
    background: none;
    text-transform: uppercase;
    border: none;
    height: 100%;
    font-weight: 700;
    font-size: inherit;
    color: steelblue;
    transition: all 0.3s;
}

#message {
    display: inline-block;
    width: 20%;
}

button:hover {
    color: white;
    background: steelblue;
}

.selected {
    color: white;
    background: steelblue;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
    border-radius: 50%;
}

#container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
}